body {
    border: 20px solid #bdc3c7;
    margin-left: 250px;
    margin-right: 250px;
    padding: 5px 25px 25px 25px;
    font-family: 'Source Sans Pro', sans-serif;
}

.date {
    color: #3498db;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.first-paragraph {
    border-left: 4px solid #bdc3c7;
    padding-left: 5px;
}

h2 {
    color: #2c3e50;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}